<div class="btn btn-info" style="width: 100%">
<h1 class="h1">Corps Table</h1>
</div>
<div class="content">
    
    <h3>Search</h3>
    <!-- https://docs.angularjs.org/api/ng/filter/filter -->
    <br />
    <br /> 
    
    <table class="table table-striped well">
        <thead>
            <tr>
                <th>Corp</th>
                <th>Owner</th>                
                <th>Email</th>
            </tr>
        </thead>    
        
        <tr ng-repeat="corps in corperations">
            <td>{{corps.corp}}</td>                  
            <td>{{corps.owner}}</td>
            <td>{{corps.email}}</td>
            <td><a ng-href="#/corps/{{corps.id}}">View</a></td>
        </tr>
    </table>
        
</div>

