body
{
	background-color: #778899;
	color: #dddddd;
}
.tdv
{
	border-style: inset;
	margin-bottom: 20px;
	background-color: #8898a0;
}
.thd
{
	color: #eeeeee;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
.comment 
{
	background-color: lightgrey;
	margin-left: 10px;
	margin-right: 10px;
	height: auto;
    min-width: 100px;
    min-height: 100px;
    box-shadow: inset 0 0 10px #000000;
	padding-bottom:10px;
}
.cttl
{
	font-weight: 1000 !important;
	border-style: inset;
	border-width: 3px 3px;
	border-color: #aaaaaa;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: #3D3D3D;
}
.ctxt
{
	padding: 10px;
	padding-left: 15px;
	padding-right:15px;
	border-style: solid;
	border-color: #aaaaaa;
	border-width: 1px 1px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	color: #3D3D3D;
}
.container {
        width: 500px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }